* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.naveSide {
height: 100vh;
width: 200px;
background: #1a0066;
border-radius: 20px 0px  0px 20px;
z-index: 0;

}
.naveSide .userInfo {

height:200px;
width: 200px;
background: #1db664;
border-radius: 20px 0px  0px 0px;
z-index: 1;
display: flex;
justify-content: center;
align-items: center;
display: block;

}
.naveSide .userInfo .userPic {
  
  height:150px;
  width: 150px;
  background: #531db6;
  border-radius: 100%;
  z-index: 2;
  position: relative;
  right: -20px;
 
}
 
.naveSide button {
  width: 100%;
  background: #1a0066;
  color: aliceblue;
  padding: 15px;
  border: none;
  outline: none;
  text-align: left;
  z-index: 3;

}
.naveSide button:hover {

  background: #9e9aaaae;
 
}
.naveSide .userInfo label{
  display: block;
  text-align: center;
  color: white;
  padding-top: 4px;
  z-index: 2;


}
.titleBar {
  width: 100%;
  height: 30px;
  background: #004b3b;
  position: absolute;
  top: 0;

  z-index: -1;
  display: block;
  border-top-left-radius: 20px;

}
.MainPage {
  height: 100vh;
  width: 100%;
  background: #755fb9;
  position: absolute;
  top: 0;
  z-index: -2;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;



}
