* {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;

    align-items: center;

    overflow: hidden;

    background: #12004b;
}

.login-page::before,
.login-page::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, #ff00ff, #00ffff);
    opacity: 0.6;
    z-index: 0;
}

.login-page::before {
    width: 400px;
    height: 400px;
    top: -100px;
    left: -100px;
}


.login-page::after {
    width: 300px;
    height: 300px;
    bottom: -50px;
    right: -50px;
}

.login-container {
    position: relative;
  
    z-index: 1;
    padding: 40px;
    border-radius: 20px;
    width: 350px;
    background: #12004b;
    box-shadow: 0 0 50px rgba(255, 0, 255, 0.5);
 
    color: #ff99ff;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.login-container label {
    display: block;

    margin: 15px 0 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background: #1a0066;
    color: #fff;

    border-bottom: 2px solid #ff33ff;
}

.login-container input[type="checkbox"] {
    margin-right: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: linear-gradient(90deg, #00ffff, #ff00ff);

    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover {
    opacity: 0.8;
}

.version {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #ff99ff;
}

.login-container div label {
    display: inline;
}